*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, .3);
}

nav .logo{
    font-family: sans-serif;
}

nav .links a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 24px;
    transition: 0.3s all ease-out;
    font-size: 0.8rem;
    cursor: pointer;
}

.links a:hover{
    background-color: black;
    color: #fff;
}

.links .active{
    background-color: black;
    color: #fff;
}
.cta button{
    background-color: transparent;
    width: 130px;
    height: 35px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    transition: 0.3s all ease-out;
    cursor: pointer;
}

.cta button:hover{
    background-color: black;
    color: #fff;
}

.msg{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: gray;
    flex-direction: column;
    gap: 40px;
}

.shake{
    animation: shake .2s;
}

@keyframes shake{
    0%{
        transform: translate(0);
    } 
    30%{
        transform: translateX(-10px);
    }
    60%{
        transform: translateX(10px);
    }
    100%{
        transform: translate(0) scale(1);
    }
}