* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    /* background-color: rgba(255, 0, 0, 0.274); */
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup {
    /* background-color: rgba(128, 0, 128, 0.233); */
    width: 90%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.signup input {
    width: 90%;
    height: 40px;
    outline: none;
    border: 2px solid #63e;
    padding: 0px 12px;
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    corner-shape: scoop;
}

.signup button {
    width: 90%;
    height: 40px;
    outline: none;
    border: 2px solid #63e;
    padding: 0px 12px;
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    corner-shape: scoop;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.signup button:hover {
    transition: all 0.2s ease-out;
    background-color: #63e;
    color: #fff;
    corner-shape: squircle;
}

hr {
    width: 100%;
    height: 10px;
    /* filter: blur(10px); */
    background: linear-gradient(to bottom right, #63e, black);
    outline: none;
    border: 0px;
}

.signup .signUpStatus {
    font-family: sans-serif;
    color: #fff;
    font-size: 13px;
}

.login {
    width: 90%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.login input {
    width: 90%;
    height: 40px;
    outline: none;
    border: 2px solid #63e;
    padding: 0px 12px;
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    corner-shape: scoop;
}

.login button {
    width: 90%;
    height: 40px;
    outline: none;
    border: 2px solid #63e;
    padding: 0px 12px;
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    corner-shape: scoop;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.login button:hover {
    transition: all 0.2s ease-out;
    background-color: #63e;
    color: #fff;
    corner-shape: squircle;
}

.login .loginStatus {
    font-family: sans-serif;
    color: #fff;
    font-size: 13px;
}
