@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
    --poppins: "Poppins", sans-serif;
    --Momo: "Momo Trust Display", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(196, 194, 194);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    position: relative;
}

.container {
    max-height: 70vh;
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.note-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 0px black;
    position: relative;
    transition: all 0.3s cubic-bezier(0, 0.28, 0.88, 1.59);
    cursor: pointer;

    &.note-card:hover {
        transition: all 0.3s cubic-bezier(0, 0.28, 0.88, 1.59);
        background-color: black;
        color: white;
        box-shadow: 0px 0px 0px black;
        transform: translate(5px, 5px);
    }

    i {
        text-align: center;
        padding: 10px 0px;
        font-style: normal;
        font-family: monospace;
        border-bottom: 2px solid black;
    }

    h1 {
        /* background-color: red; */
        height: 50%;
        padding: 10px 15px;
        font-family: sans-serif;
        font-size: 16px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        border-bottom: 2px solid black;
    }

    p {
        position: absolute;
        bottom: 0;
        right: 0;
        font-family: monospace;
        padding: 0px 10px;
    }
}

.input {
    width: 100%;
    position: fixed;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(10px);

    input {
        width: 300px;
        height: 40px;
        outline: none;
        border: 2px solid rgba(0, 0, 0, 1);
        padding: 0px 12px;
        margin-right: 10px;
        box-shadow: 5px 5px 0px black;
        transition: all 0.3s ease-in-out;
    }

    input:focus {
        transition: all 0.3s ease-in-out;
        transform: translate(5px, 5px);
        box-shadow: 0px 0px 0px black;
    }

    button {
        width: 100px;
        height: 40px;
        border: 2px solid rgba(0, 0, 0, 1);
        box-shadow: 5px 5px 0px black;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
    }

    button:active {
        transition: all 0.1s ease-in-out;
        transform: translate(5px, 5px);
        box-shadow: 0px 0px 0px black;
    }
}

.updateCard {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 5;
    gap: 20px;

    h1 {
        font-size: 30px;
        font-family: var(--poppins);
        font-weight: 500;
    }

    textarea {
        min-width: 420px;
        max-width: 420px;
        min-height: 45px;
        max-height: 300px;
        outline: none;
        border: 2px solid black;
        padding: 10px 12px;
        box-shadow: 5px 5px 0px black;
        font-family: var(--poppins);
        transition: .3s;
    }

    input:focus{
        transition: .2s;
        box-shadow: 0px 0px 0px transparent;
        transform: translate(5px, 5px);
    }

    .buttons {
        display: flex;
        gap: 20px;
    }

    button {
        width: 135px;
        height: 35px;
        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.4);
        border: 2px solid rgba(0, 0, 0, 0.6);
        font-size: 12px;
        font-family: sans-serif;
        letter-spacing: .5px;
        transition: all 0.3s cubic-bezier(0, 0.28, 0.88, 1.59);
    }

    button:hover{
        transition: all 0.3s cubic-bezier(0, 0.28, 0.88, 1.59);
        box-shadow: 0px 0px 0px transparent;
        transform: translate(5px, 5px);
        cursor: pointer;
    }

    button.upd-btn{
        background-color: rgb(55, 189, 55);
        color: white;
        border: 2px solid green;
    }

    button.del-btn{
        background-color: rgb(194, 75, 75);
        color: white;
        border: 2px solid red;
    }

    button.close-btn{
        background-color: rgb(80, 80, 80);
        color: white;
    }

}
