*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    gap: 20px;
}

.input-box input{
    width: 300px;
    height: 40px;
    padding: 0px 8px;
    border-radius: 8px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

#task-box{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dark{
    background-color: black;
    color: #fff;
}

#task-box .task{
    background-color: rgb(53, 53, 53);
    width: 50%;
    margin: 10px 0px;
    padding: 12px 8px;
    corner-shape: scoop;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    transition: all .2s;
    cursor: pointer;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
}

#task-box .task:hover{
    transform: scale(1.05);
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.5);
    transition: all .2s;
    background-color: #63e;
}

.input-box button{
    width: 300px;
    height: 40px;
    background-color: #63e;
    border: 2px solid #63e;
    color: #fff;
    border-radius: 10px;
    transition: all .2s;
}

.input-box button:hover{
    cursor: pointer;
    transition: all .2s;
    background-color: black;
    border: 2px solid black;
}

.input-box #task-delete-btn{
    background-color: red;
    border: 2px solid red;
}

.input-box #task-delete-btn:hover{
    background-color: rgb(196, 22, 22);
}

.task h1{
    font-family: sans-serif;
    margin: 5px 0px;
}

.task h3{
    font-family: monospace;
    margin: 10px 0px;
    color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 780px){
    .input-box{
        flex-direction: column;
    }
    #task-box .task{
        width: 90%;
    }
}