* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider {
    position: relative;
    width: 80%;
    height: 40vh;
    margin: auto;
    overflow: hidden;
}

.slides {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider img {
    width: 26%;
    object-fit: cover;
    display: none;
}

img.displaySlide {
    display: block;
    animation: fade 1.4s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: transparent;
    border-radius: 8px;
    margin: 0px 5px;
    color: #111;
    border: 2px solid #63e;
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transition: all 0.2s ease-in-out;
    background-color: #63e;
    color: #fff;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fade {
    from {
        filter: blur(8px);
    }
    to {
        filter: blur(0px);
    }
}

@media (max-width: 800px) {
    .slider {
        height: 80vh;
    }
    .slides img {
        width: 100%;
    }
}
